<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anushka Dalal - Resume</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
  <!-- Header -->
  <div class="container resume-header">
    <h1>Anushka Dalal</h1>
    <p>Full Stack Developer | Python & Django Enthusiast</p>

    <p>
      Email:
      <a href="mailto:anushkadalal80@gmail.com">anushkadalal80@gmail.com</a> |
      LinkedIn:
      <a href="www.linkedin.com/in/anushka-dalal-9b307022a">linkedin.com/in/Anushka-Dalal</a>
      | GitHub:
      <a href="https://github.com/Anushka-dalal">github.com/Anushka-Dalal</a>
    </p>
  </div>
  <!-- Summary -->
  <div class="container resume-section">
    <h2 class="section-title">Profile Summary</h2>
    <!-- <p>
      A passionate and detail-oriented developer with a strong foundation in
      Python, Django, and web technologies. Skilled in programming languages
      like C++, Java, and building responsive websites using HTML, CSS, and
      JavaScript. Eager to contribute to real-world projects and continuously
      learn new technologies.
    </p> -->
    <p>
      Dedicated developer with a passion for creating innovative and efficient solution. Skilled in delivering impactful
      projects, enhancing technical expertise, and driving organizational success. Proficient in programming and project
      development, with a strong ability to thrive in fast-paced environments.
    </p>
  </div>

  <!-- Skills -->
  <div class="container resume-section">
    <h2 class="section-title">Skills</h2>
    <div>
      <span class="skill-badge">Python</span>
      <span class="skill-badge">Django</span>
      <span class="skill-badge">Rest API</span>
      <span class="skill-badge">Numpy</span>
      <span class="skill-badge">Pandas</span>
      <span class="skill-badge">Matplolib</span>
      <span class="skill-badge">MySQL</span>
      <span class="skill-badge">React</span>
      <span class="skill-badge">HTML</span>
      <span class="skill-badge">CSS</span>
      <!-- <span class="skill-badge">C / C++</span>
      <span class="skill-badge">Java</span> -->
      <span class="skill-badge">MS Office</span>
      <span class="skill-badge">Typing - 30 WPM</span>
    </div>
  </div>

  <!-- Education -->
  <div class="container resume-section">
    <h2 class="section-title">Education</h2>
    <div class="row mb-3">
      <div class="col-md-8">
        <strong>B.Sc. in Information Technology</strong><br>
        Sant Gadge Baba Amravati University, Akola <br>
        <small>2022 – 2025</small>
      </div>
      <div class="col-md-4 text-md-right">
        <strong>CGPA:</strong> 7.9
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8">
        <strong>Secondary Education</strong><br>
        Amaravati Board <br>
        <small>Year: 2022</small>
      </div>
      <div class="col-md-4 text-md-right">
        <strong>Percentage:</strong> 62.80
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <strong>Primary Education</strong><br>
        Amaravati Board<br>
        <small>Year: 2020</small>
      </div>
      <div class="col-md-4 text-md-right">
        <strong>Percentage:</strong> 89.60
      </div>
    </div>

    <!-- Certifications -->
    <div class="container resume-section">
      <h2 class="section-title">Certifications</h2>
      <ul>
        <li>
          MS-CIT – Microsoft Office tools: Word, Excel, PowerPoint, Outlook
        </li>
        <li>Typing – 30 WPM certified</li>
        <li>Core & Advanced Java + Web Designing</li>
        <!-- <li>C++ Programming Certification</li>
      <li>Core Python + Django Web Development</li> -->
        <li> <strong> Certified in Python Full stack Development from ‘The Kiran Academy, Pune’ </strong> – Gained
          hands-on experience in
          building full stack web applications using Django, REST API, HTML, CSS, and Bootstrap. </li>
      </ul>
    </div>

    <!-- Projects -->
    <div class="container resume-section">
      <h2 class="section-title">Projects</h2>
      <ul>
        <li>
          <strong>Portfolio Website</strong>: Built using HTML, CSS, Bootstrap,
          and Django to showcase skills, certifications, and contact info.
        </li>
        <li>
          <strong>Calculator App</strong>: Django-based calculator web app with
          separate views for basic operations using template rendering.
        </li>
        <li><strong>Sunshine Resort Website:</strong> Developed using HTML, CSS, Bootstrap, MySQL, Django and REST API
          (Class-Based Views) to
          manage resort bookings. Includes features like image carousel, booking form, contact section, and admin panel
          to
          manage resort bookings.
        </li>
        <br>
        <strong>Academic Projects</strong>
        <li>
          <strong>Library Management System</strong>: A desktop-based academic
          project developed to manage library operations like book issuing,
          returns, and member records. Build using HTML, CSS, PHP
        </li>
        <li>
          <strong>AI Nexus – Informational Website on Artificial Intelligence</strong>: A responsive website built using
          HTML, CSS, and PHP that educates
          users about core AI concepts, applications, history, and future scope.
          Designed to help students and enthusiasts understand AI in a
          structured and beginner-friendly way.
        </li>
      </ul>
    </div>

    <!-- Languages -->
    <div class="container resume-section">
      <h2 class="section-title">Languages Known</h2>
      <p>English, Hindi, Marathi</p>
    </div>

    <!-- Footer -->
    <div class="container text-center my-5">
      <hr />
      <p>
        © 2025 Anushka Dalal |
        <a href="mailto:anushkadalal80@gmail.com">Email Me</a>
      </p>
    </div>
</body>

</html>